.main {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
};

.enterButton {
  margin-top: 30px;
  width: 100px;
  height: 30px;
  border: 2px solid #61dafb;
  border-radius: 5px;
  align-self: center;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    background-color: #61dafb;
  }
};

.emitMsgButton {
  margin-top: 30px;
  width: 180px;
  height: 30px;
  border: 2px solid #8e88ff;
  border-radius: 5px;
  align-self: center;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    background-color: #8e88ff;
  }
};
